@import "index";
.intro {
  img {
    background: $light-grey;
    border-radius: 20px;
  }
  ul {
    flex-basis: 50%;
    list-style: none;
    font-size: 1rem;
    li {
      line-height: 30px;
      font-weight: 500;
      &:before {
        content: "✓";
        color: $green;
        margin-right: 0.5rem;
        font-weight: bolder;
      }
    }
  }
}
