<section class="page-content flex">
  <img src="../../../assets/images/intro-image.png" alt="ganesh-image" />
  <div class="ml-6 flex column justify-center">
    <div>
      <h4 class="font-light-bold small-letter-space">Welcome to our</h4>
      <h1 class="font-bolder company-name small-letter-space">Neo Classic</h1>
      <p class="mid-letter-space">
        Neo classic, a fast growing company established during the year 2002 as
        a small scale industry for the manufacturing of ferrous or non ferrous
        (Brass and other Metal including fiber etc) Artware, Interior Decorative
        Items & Gift Articles etc.
      </p>
    </div>

    <div class="flex">
      <ul class="p-0">
        <li>Diyas & Lanters</li>
        <li>Free Delivery</li>
        <li>Highesy Quality</li>
        <li>God Statues</li>
      </ul>
      <ul class="p-0">
        <li>Online Store & Payments</li>
        <li>Animals</li>
        <li>Ganesh</li>
        <li>Radha Krishna</li>
      </ul>
    </div>
    <button mat-button class="read-more-btn cursor-pointer">Read more</button>
  </div>
</section>
