.flex {
  display: flex !important;
  &.column {
    flex-direction: column;
  }
  &.justify-between {
    justify-content: space-between;
  }
  &.justify-center {
    justify-content: center;
  }
  &.items-center {
    align-items: center;
  }
  &.flex-1 {
    flex: 1;
  }
}

.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
$space-amounts: (0, 1, 2, 3, 4, 5, 6, 7, 8);

@each $space in $space-amounts {
  //margin classes
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .ml-#{$space} {
    margin-left: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }
  .mr-#{$space} {
    margin-right: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  //padding classes
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .pl-#{$space} {
    padding-left: #{$space}rem;
  }
  .pt-#{$space} {
    padding-top: #{$space}rem;
  }
  .pr-#{$space} {
    padding-right: #{$space}rem;
  }
  .pb-#{$space} {
    padding-bottom: #{$space}rem;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.font-light-bold {
  font-weight: 500;
}

.font-bold {
  font-weight: bold;
}
.font-bolder {
  font-weight: bolder;
}

.page-content {
  padding: 20px 0;
  .read-more-btn {
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    max-width: 150px;
    min-width: 100px;
    font-size: 0.9rem;
    padding: 2px 20px;
    &:hover {
      background-color: #e6e6e6;
      transition: all 0.5s ease;
      color: #000;
    }
  }
}
.small-letter-space {
  letter-spacing: 0.8px;
}
.mid-letter-space {
  letter-spacing: 1.5px;
}
