@import "index.scss";
header {
  background: url("../../../assets/images/banner_1.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  overflow: hidden;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, $black, $black);
    opacity: 0.6;
  }
  .navbar-container {
    position: absolute;
    width: 80%;
    padding: $spacing-xl 0;
    button {
        color: $white;
    }
    .icons-container {
        color: $white;
        font-size: 1rem;
    }
  }
  .logo {
    flex-basis: 20%;
    max-width: 200px;
  }
  .options {
    flex-basis:72%;
    padding: 0 $spacing-md;
    button {
        max-width: 200px;
        min-width: 100px;
        font-size: 1rem;
    }
}
}
