
<header class="flex justify-between items-center">
    <section class="flex justify-between items-center w-100">
        <div class="call-details">
            <i class="fa fa-phone"></i>
            <span>9990001234</span>
        </div>
        <div class="social-media-details flex justify-between flex-1">
            <i class="fa fa-facebook-f"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-google-plus"></i>
            <i class="fa fa-linkedin"></i>
            <i class="fa fa-pinterest"></i>
        </div>
    </section>
    <section>
        <div>
            
        </div>
    </section>
</header>
